body {
background-image: url('backgroundstuff.png');
  );
}
h1 {
  color: blue;
}
select {
  border-radius: 25px;
  background: blue;
  padding: 20px;
  width: 400px;
  height: 100px;
  font-size: 32px;
}
